@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="UTF-8" />
    <meta name="author" content="QQ:309685769" />
    <meta name="Copyright" content="Copyright" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>登录</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/bootstrap-responsive.min.css")" />

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #444 url(@Url.Content("~/Content/Imgs/login_background.png"));
            font-family: "宋体";
        }

        .loginBox {
            width: 420px;
            height: 230px;
            padding: 0 20px;
            border: 1px solid #fff;
            color: #000;
            margin-top: 40px;
            border-radius: 8px;
            background: white;
            box-shadow: 0 0 15px #222;
            background: -moz-linear-gradient(top, #fff, #efefef 8%);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
            font: 11px/1.5em 'Microsoft YaHei';
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -210px;
            margin-top: -115px;
        }

            .loginBox h2 {
                height: 45px;
                font-size: 20px;
                font-weight: normal;
            }

            .loginBox .left {
                border-right: 1px solid #ccc;
                height: 100%;
                padding-right: 20px;
            }

        .regBtn {
            margin-top: 21px;
        }
    </style>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        <script type="text/javascript" src="@Url.Content("~/Script/html5shiv.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Script/respond.min.js")"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
        <section class="loginBox row-fluid">
            <section class="span7 left">
                <h2>用户登录</h2>
                @if (ViewBag.ErrorMsg != null && ViewBag.ErrorMsg != "")
                {
                    <p style="color:red;margin-bottom:5px;">@ViewBag.ErrorMsg</p>
                }
                <form id="form" method="post" action="/Home/Login/">
                    <p><input type="text" name="account" id="account" placeholder="账号" /></p>
                    <p><input type="password" name="pwd" id="pwd" placeholder="密码" /></p>
                    <section class="row-fluid">
                        <section class="span8 lh30"><label><input type="checkbox" value="false" id="rmb" name="rmb" onchange="if (this.checked) this.value = 'true'; else this.value = 'false';" />下次自动登录</label></section>
                        <section class="span1"><input type="button" value="登录" id="login" class="btn btn-primary"></section>
                    </section>
                </form>
            </section>
            <section class="span5 right">
                <h2>没有帐户？</h2>
                <section>
                    <p>注册一个</p>

                    <p><input type="button" value="注册" class="btn regBtn"></p>
                </section>
            </section>
        </section>
    </div>
    <div id="dialog" title="提示"></div>
    <!-- script -->
    <script type="text/javascript" src="@Url.Content("~/Script/jquery1x.min.js")"></script>
    <link href="@Url.Content("~/Content/jQueryUI/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Script/jquery-ui-1.11.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Plugin/dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Plugin/jquery.cookie.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#login').click(function () {
                var arrArg = [];
                if ($.trim($('#account').val()) == '') {
                    arrArg.push('请输入【账号】');
                }
                if ($.trim($('#pwd').val()) == '') {
                    arrArg.push('请输入【密码】');
                }
                if (arrArg.length > 0) {
                    var content = '';
                    $.each(arrArg, function (i, v) {
                        content += '<div>' + (i + 1) + '.' + v + '</div>';
                    })
                    warn(content);
                    return false;
                }

                $('#form').submit();
            });
        })
    </script>
</body>
</html>
